<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><%= @flat.title %></h2>

        <% if @photos.empty? %>
        <p>no photos yet</p>
        <% else %>
        <div class="row">
          <%= image_tag @photos.first.image.url(:medium), class: "img-responsive" %>
        </div>
        <div class="row">
          <% @photos.each do |photo|  %>
           <div class="col-md-3">
            <%= image_tag photo.image.url(:thumb), class: "img-responsive" %>
          </div>
          <% end %>
        </div>
        <% end %>

      <hr>
      <h6>Descripción</h6>
      <p><%= @flat.description %></p>
      <hr>
      <h6>Dirección</h6>
      <p><%= @flat.address %></p>
      <p><%= @flat.city %></p>
      <hr>
      <h6>Caracteristicas</h6>
      <% if @flat.furnished == false %>
      <p><strike>furnished</strike></p>
      <% else %>
      <p>furnished</p>
      <% end %>

      <p><%= @flat.created_at %></p>
      <p><%= @flat.id %></p>

    <p><%= link_to 'Link to Index', root_path %></p>
  </div>
</div>
